@model WirtualnyDziennik.Models.Tresc

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OD)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OD)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.tresc)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
