@model IEnumerable<WirtualnyDziennik.Models.Klasy>
<p>
    <button onclick="location.href='@Url.Action("Create", "Klasy")'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nowa Klasa</button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <!--<th>
       // @Html.DisplayNameFor(model => model.Wychowawca)
    </th>-->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wychowawca.nazwisko)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Klasy", new { id = item.id } )'" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edytuj </button>
            <button onclick="location.href='@Url.Action("EditStudents", "Klasy", new { id = item.id })'" type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Przypisz Uczniów </button>
            <button onclick="location.href='@Url.Action("Delete", "Klasy", new { id = item.id })'" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Usuń </button>
        </td>

    </tr>
    }

</table>
