<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-inverse navbar-static-top">
        <br />
        <br />
        
        <br />
        <br />
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="text-left btn-block navbar navbar-text">WIRTUALNY DZIENNIK</h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona Główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
          
        </div>
    </div>
    <div id="left" class="panel-body navbar-inverse navbar-left " style="background-color:#2e2e2e;">
        <!--<div class="container">-->
            
                <ul class="nav">
                    @if (this.Session["UserProfile"] == null)
                    {
                       <li>
                           @using (Html.BeginForm("Login", "Home"))
                            {
                                <br /><h5 class="text-center" style="color: #428bca;">LOGIN</h5>
                                <input type="text" class ="left input-sm " name="login" id="login" />
                              <br /><h5 class="text-center" style="color: #428bca;">HASŁO</h5><input type="password" class="left input-sm" name="haslo" id="haslo" />
                               <br />
                           <br /><input type="submit" class="btn-link left  navbar-inverse" name="Loguj" value="Loguj" />
                             }
                          @using (Html.BeginForm("Register", "Home",FormMethod.Get))
                           {
                               <input  class="btn-link left  navbar-inverse" type="submit" value="Rejestracja"/>
                           }
                          @using (Html.BeginForm("Remind", "Home", FormMethod.Get))
                           {
                               <input class="btn-link left  navbar-inverse" type="submit" value="Przypomnienie hasła" />
                           }
                           <br />
                           <br />
                          
                      </li>

                    }
                    else
                    {
                        // Response.Redirect("~/UserView");
                        <li>@Html.ActionLink("Wyloguj", "Logout", "Home")</li>
                    }
                    @if (this.Session["UserProfile"] != null)
                    {
                        var Konto = this.Session["UserProfile"] as WirtualnyDziennik.Models.UserProfileSessionData;
                        <li>@Html.ActionLink("Edytuj dane konta", "Edit","Uzytkownicy", new { id = Konto.UserId },null)</li>
                        <li>@Html.ActionLink("Wyślij wiadomość", "Message","Tresc")</li>
                        <li>@Html.ActionLink("Odebrane", "Retrieve","Tresc",new { id = Konto.UserId },null)</li>
                        if ((Konto.Typ == "UCZEN")||(Konto.Typ=="RODZIC"))
                        {
                        <li>@Html.ActionLink("Przeglądaj oceny", "Index","Grade", new { id = Konto.UserId }, null)</li>
                        <li>@Html.ActionLink("Przeglądaj obecności", "Index", "Attendance", new { id = Konto.UserId }, null)</li>
                        }

                        if (Konto.Typ == "NAUCZYCIEL")
                        {
                            <li>@Html.ActionLink("Moje klasy", "Index", "Classes", new { id = Konto.UserId }, null)</li>
                            <li>@Html.ActionLink("Utwórz ogłoszenie", "Create", "Tresc")</li>
                        }

                        if (Konto.Typ == "ADMIN")
                        {
                            <li>@Html.ActionLink("Edytuj Uzytkownikow", "Index","Uzytkownicy")</li>
                            <li>@Html.ActionLink("Edytuj Przedmioty", "Index")</li>
                            <li>@Html.ActionLink("Edytuj klasy", "Index")</li>
                            <li>@Html.ActionLink("Przypisz uczniow", "Index")</li>
                            <li>@Html.ActionLink("Przypisz nauczycieli", "Index")</li> 
                        }
                    }
                   </ul>
        <!--</div>-->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — moja aplikacja platformy ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
